<!DOCTYPE html>
<html lang="en">
  <%- include('components/head-links'); %>
  <body>
    <div class="container-fluid">
      <header class="header">
        <%- include('components/nav'); %>

        <div class="header__tertiary-section">
          <div class="header-static">
            <div class="header-static__box">
              <h1 class="heading-primary__main">
                Classes and training services
              </h1>
              <h2 class="heading-primary__sub my-top-medium">
                CWP Classes, Firearm Training, <span>and more</span>
              </h2>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="container-fluid">
      <main>
        <section class="section-classes-and-training-info">
          <%- include('components/sidebar-and-info-classes'); %>
        </section>
        <section class="section-store">
          <%- include('components/store'); %>
        </section>
      </main>
      <%- include('layouts/footer'); %>
    </div>
    <script src="/js/main.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
